<!doctype html>
<html>
  <head>
    <title><%= shopName %> Survey</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1><%= shopName %> Customer Survey</h1>

    <form method="POST" action="/survey_submitted">
      <label>First Name:</label><br>
      <input type="text" name="first" required><br>

      <label>Surname:</label><br>
      <input type="text" name="last" required><br>

      <label>Email Address:</label><br>
      <input type="email" name="email" required><br>

      <label>How old are you?</label><br>
      <input type="text" name="age"><br>

      <label>Which of the following drinks categories do you consume the most?</label><br>
      <% for (let i = 0; i < productCategories.length; i++) { %>
        <input type="radio" name="category" value="<%= productCategories[i] %>" required>
        <%= productCategories[i] %><br>
      <% } %>
      <br>

      <label>Are you a student?</label>
      <input type="checkbox" name="student" value="Yes"><br>

      <input type="submit" value="Submit Survey">
    </form>
  </body>
</html>
